/* RESET STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* GENERAL STYLE */
/* -------------------HEADER STYLE START------------------- */
.header{
    height: 100vh;
    max-height: 800px;
    background-color: hsl(356, 100%, 66%);
    background-image: url(../images/bg-pattern-intro.svg);
    background-position: center center;
    border-bottom-left-radius: 150px;
}
/* NAVIGATION BAR */
.header-navbar .container{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar{
    position: fixed;
    width: 100%;
    z-index: 99;
}
#hamburger{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    cursor: pointer;
    display: none;
}
#hamburger span{
    width: 28px;
    height: 2px;
    margin: 4px 0;
    background-color: aliceblue;
    transform-origin: 100%;
}
.nav-list{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list{
    list-style: none;
    display: flex;
}
.menu-list > div{
    margin-right: 40px;
}
/* SELECT OPTION */
.select span{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
.select span a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.select span img{
    padding: 5px;
    width: 22px;
    cursor: pointer;
}
.connect-list , .product-list ,  .company-list{
    display: none;
    position: absolute;
    width: 140px;
    margin-top: 20px;
    background-color: #ffffff;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}
.connect-list li, .product-list li,  .company-list li{
    padding: 4px 0;
}
.connect-list li a, .product-list li a,  .company-list li a{
    text-decoration: none;
    color: #000000;
}
.connect-list li a:hover, .product-list li a:hover,  .company-list li a:hover{
    font-weight: bolder;
}
.open-dropdown{
    display: flex;
    flex-direction: column;
}
.under-line{
    text-decoration: underline;
}
.rotate-arrow{
    transform: rotate(180deg);
}
/* MENU BUTTONS  */
.menu-buttons button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.menu-buttons button:nth-child(1){
    background-color: rgba(255, 255, 255, 0);
    margin-right: 20px;
    color: #ffffff;
}
.menu-buttons button:hover{
    background-color: hsl(356, 100%, 60%);
    color: #ffffff;
}
/* HEADER CONTENT */
.header-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.header-content .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-content .container h1{
    text-align: center;
    font-size: 4rem;
    margin: 30px 0;
    color: #ffffff;
}
.header-content .container p{
    font-size: 20px;
    margin-bottom: 60px;
    color: #ffffff;
    text-align: center;
}
.header-content .container .buttons button{
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    margin: 0 20px;
    cursor: pointer;
}
.header-content .container .buttons button:hover{
    background-color: hsl(356, 100%, 60%);
    color: #ffffff;
}
/* MOBILE */
@media only screen and (max-width: 768px){
    .nav-list{
        width: 80%;
        flex-direction: column;
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        align-items: center;
        display: none;
        border-radius: 10px;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3%;
        width: 94%;
        border-bottom: 2px solid rgba(128, 128, 128, 0.2);
        padding-bottom: 10px;
    }
    .select{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .select span{
        width: 100%;
        margin: 0 auto;
        padding: 15px 0;
        background-color: hsl(356, 100%, 66%);
        justify-content: center;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .select span a{
        color: #ffffff;
        margin-right: 10px;
    }
    .connect-list , .product-list ,  .company-list{
        position: sticky;
        width: 80%;
        align-items: center;
        margin-top: 0;
    }
    .connect-list li, .product-list li,  .company-list li{
        margin: 10px 0;
    }
    .menu-buttons{
        display: flex;
        flex-direction: column;
        padding: 10px;
        
    } 
    .menu-buttons button{
        background-color: hsl(356, 100%, 66%);
        color: #ffffff;
        width: 150px;
    }
    .menu-buttons button:first-child{
        background-color: #000000;
        margin: 0 0 10px 0;
    }
    .header-content .container h1{
        font-size: 3rem;
    }
    .header-content .container .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-content .container .buttons button:first-child{
        margin-bottom: 15px;
    }
    #hamburger{
        display: flex;
    }
}
.active{
    display: flex;
}
.scrolled{
    background-color: hsl(356, 100%, 66%);
}
/* -------------------HEADER STYLE END------------------- */

/* -------------------DESIGN STYLE START------------------- */
.design .container{
    padding: 50px 0 80px;
    display: flex;
    align-items: center;
}
.design h2{
    text-align: center;
    font-size: 2.5rem;
    color: hsl(208, 49%, 24%);
    padding-top: 80px;
}
.design-content , .design-image{
    width: 50%;
}
.design-content h3{
    font-size: 1.8rem;
    color: hsl(208, 49%, 24%);
    margin-bottom: 30px;
}
.design-content p{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 70px;
    color: hsl(240, 2%, 79%);
    padding-right: 100px;
}
.design-image img{
    width: 100%;
}
@media only screen and (max-width: 768px){
    .design .container{
        flex-direction: column-reverse;
    }
    .design-content , .design-image{
        width: 100%;
    }
    .design-image{
        background-image: url(../images/illustration-editor-mobile.svg);
        background-size: cover;
        background-position: center center;
        height: 300px;
        margin-bottom: 50px;
    }
    .design-image img{
        display: none;
    }
    .design-content h3 , .design-content p{
        text-align: center;
        padding-right: 0;
    }
}
/* -------------------DESIGN STYLE END------------------- */

/* STATE STYLE START */
.state-container{
    /* background-color: chartreuse; */
    padding: 90px 0;
    display: flex;
    align-items: center;
    position: relative;
}
.state{
    background-color: hsl(237, 17%, 21%);
    background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center left;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
    height: 420px;
    width: 100%;
}
.state .container{
    display: flex;
}
.state-image{
    width: 50%;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    /* background-color: brown; */
}
.state-content{
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.state-content h3{
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 30px;
}
.state-content p{
    color: #ffffff;
    line-height: 25px;
    width: 80%;
}
@media only screen and (max-width: 768px){
    .state-container{
        position: relative;
        padding: 150px 0 80px;

    }
    .state .container{
        flex-direction: column;
    }
    .state{
        height: 600px;
    }
    .state-image{
        width: 100%;
        top: 0;
        transform: translateY(0);
        left: 0;
    }
    .state-image img{
        width: 90%;
        margin: 0 auto;
    }
    .state-content{
        width: 100%;
        bottom: 26%;
        margin: 0 auto;
        position: absolute;
        transform: translateY(0);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .state-content h3 , .state-content p{
        padding: 0;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .state-content h3{
        margin-bottom: 30px;
    }
}
/* STATE STYLE END */

/* -------------------DESIGN STYLE START------------------- */
.free{
    margin-top: 100px;
}
.free .container{
    padding: 50px 0 80px;
    display: flex;
    align-items: center;
}
.design h2{
    text-align: center;
    font-size: 2.5rem;
    color: hsl(208, 49%, 24%);
    padding-top: 80px;
}
.free-content , .free-image{
    width: 50%;
}
.free-content{
    padding-left: 50px;
}
.free-content h3{
    font-size: 1.8rem;
    color: hsl(208, 49%, 24%);
    margin-bottom: 30px;
}
.free-content p{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 70px;
    color: hsl(240, 2%, 79%);
   
}
.free-image img{
    width: 100%;
}
@media only screen and (max-width: 768px){
    .free{
        margin-top: 0;
    }
    .free .container{
        flex-direction: column-reverse;
    }
    .free-content , .free-image{
        width: 100%;
    }
    .free-content{
        padding: 0 30px;
    }
    .free-image{
        background-image: url(../images/illustration-laptop-mobile.svg);
        background-size: cover;
        background-position: center center;
        height: 350px;
        margin-bottom: 50px;
    }
    .free-image img{
        display: none;
    }
    .free-content h3 , .free-content p{
        text-align: center;
        padding-right: 0;
    }
}
/* -------------------DESIGN STYLE END------------------- */